.row{
    
    color: #fff;
    margin-left: 10px;
}

.posters{
    display: flex;
   
    overflow-x: scroll;
    overflow-y:hidden ;
}

.posters::-webkit-scrollbar{
    display: none;
}


.poster{
    max-height: 250px;
    margin-right: 10px;

}

.poster:hover{
    cursor: pointer;
    width: 150px;
    
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
   }
   
  